<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="assets/tab1.png" width="19.9" height="20.37"/>
      <ion-label>MyEvents</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="assets/tab2.png" width="24.12" height="23.01"/>

      <ion-label>Homepage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="assets/tab3.png" width="19.78" height="23.74"/>
      <ion-label>Doctors</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
