
  ion-button {
    --background: rgb(255, 255, 255);
    width: 180px;
    height:250px ;
    text-transform: initial;

  }

h1{
  color: #3383D8;
  font-size: 30px;
  text-transform: initial;
  position: relative;

}