
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="ion-text-right">

      <img src="assets/blue2.png">
    </div>
  </ion-header>

  <ion-toolbar>
    <div class="ion-text-center">
      <h1><b>MyEvents</b></h1> 
    </div>

  </ion-toolbar>

  <ion-searchbar showCancelButton="focus" cancelButtonText="Cancel"></ion-searchbar>

  <div class="ion-text-center">
    <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/11.png" > </ion-button>
    <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/12.png"> </ion-button>
    <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/15.png"> </ion-button>
    <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/16.png"> </ion-button>
    <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/14.png"> </ion-button>
    <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/13.png"> </ion-button>

  </div>


</ion-content>