<ion-content [fullscreen]="true">
  <ion-header >
    <div class="ion-text-right">

      <img src="assets/blue2.png">
    </div>
    <ion-toolbar>
      <div class="ion-text-center">
      <ion-title size="large">Doctors </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar showCancelButton="focus" cancelButtonText="Cancel"></ion-searchbar>
  <div class="ion-text-center">
    <h2>
      Information Technology
    </h2>
    <ion-col>
      <div id="rcorners3">
        <img src="assets/tab31.png" class='iconDetails'>
        <h3 ><b> Dr.Janat Ibrahim</b></h3>

        <p>Assistant Professor <br>janat123@uj.edu.sa</p>
        <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/chat.png" width="20" height="20"> </ion-button>

      </div>
    </ion-col>


    <ion-col>
      <div id="rcorners3">
        <img src="assets/tab33.png" class='iconDetails'>
        <h3 ><b>Dr.Amal Ahmed</b></h3>

        <p>Assistant Professor <br>Amal123@uj.edu.sa</p>
        <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/chat.png" width="20" height="20"> </ion-button>

      </div>
    </ion-col>


    <ion-col>
      <div id="rcorners3">
        <img src="assets/tab34.png" class='iconDetails'>
        <h3 ><b> Dr.Ruba Ismaeel</b></h3>

        <p>Assistant Professor <br>Ruba123@uj.edu.sa</p>
        <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/chat.png" width="20" height="20"> </ion-button>

      </div>
    </ion-col>

    <ion-col>
      <div id="rcorners3">
        <img src="assets/tab32.png" class='iconDetails'>
       <h3 ><b> Dr.Danna Khalid</b></h3>
        <p> Assistant Professor <br>Danna123@uj.edu.sa</p>
        <ion-button (click)="btnClicked()" routerLinks="/chattting" > <img src="assets/chat.png" width="20" height="20"> </ion-button>

      </div>
    </ion-col>

  </div>



</ion-content>